a {
  color: #8e8e8e;
}
a:hover {
  color: black;
}
.contentProfile {
  width: 100%;
  display: flex;
}

.avatarProfile {
  background-color: black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
}

.avatarProfileMin {
  display: none;
  background-color: black;
  border-radius: 50%;
  width: 77px;
  height: 77px;
}

.infoUserHeader {
  display: flex;
  align-items: center;
}

.nameUserAvatar {
  display: none;
}

.infoUser {
  display: flex;
  align-items: center;
}

.infoUserHeader h2 {
  font-weight: 300;
}

.editProfileMin {
  display: none;
  width: 100%;
  text-align: center;
  border: 1px solid#dbdbdb;
  color: #262626;
  border-radius: 4px;
}

.editProfile {
  border-radius: 4px;
  padding: 5px 9px;
  text-align: center;
  border: 1px solid#dbdbdb;
  color: #262626;
}

.infoUserMin {
  display: none;
  justify-content: space-around;
  text-align: center;
}

.textProfile {
  color: #8e8e8e;
}

.menuUser {
  display: flex;
  color: #8e8e8e;
  justify-content: center;
  line-height: 30px;
}

.menuUser .nav-link {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.nav-item {
  margin-right: 60px;
}

.nav-item span {
  margin-left: 10px;
}

.nav-item:last-child {
  margin-right: 0;
}

.active2 {
  position: relative;
  top: -1px;
  border-top: 1px solid black;
  color: black;
}

.contentTab {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.textInfo {
  text-align: center;
}

.imagesTab {
  width: 380px;
}

@media only screen and (max-width: 768px) {
  .infoUser {
    display: none;
  }
  .editProfile {
    display: none;
  }

  .editProfileMin {
    display: block;
  }

  .nameUserAvatar {
    display: block;
  }

  .avatarProfile {
    display: none;
  }

  .avatarProfileMin {
    display: block;
  }
  .infoUserMin {
    display: flex;
  }
}

@media only screen and (max-width: 992px) {
  .textInfo {
    display: none;
  }
  .imagesTab {
    width: 100%;
    margin: auto;
  }
  .nav-item span {
    display: none;
  }
}
